@import url('https://fonts.googleapis.com/css2? family= Nunito:wght@200;300;400;600;700 & family= Poppins:wght@400;500;700 & display= trocar');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-pink: #d12f7a;
    --color-black: #000;
    --color-blue: #8A2BE2;
    --color-azul: #6495ED;
    --primary-color: #8A2BE2;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
}

body h1{
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    position: fixed;
    z-index: 2;
    background: transparent;
}

.header-title{
    text-decoration: none;
}

.header-title h1{
    color: var(--color-white);
    font-size: 2rem;
    transition: opacity .3s ease;
}

.header-title h1:hover{
    opacity: .8;

}

#contato .container-button{
    display: none;
}

.navbar{
    max-width: 350px;
    width: 100%;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 700;
}

#person{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-black);
}

.person-content {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-black);
}

.person-content div h1 {
    color: transparent;
    padding: 0px, 4px;
    position: relative;
    width: fit-content;
    font-size: 4.5rem;
    line-height: 6rem;
    animation: written_text .5s ease forwards;
}

.person-content div h1:nth-child(1){
    animation-delay: 1s;
}

.person-content div h1:nth-child(2){
    animation-delay: 2s;
}

.person-content div h1:nth-child(3){
    animation: written_text_name .5s ease forwards;
    animation-delay: 3s;
}

.person-content div h1 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 100%;
    background: var(--color-pink);
    animation: written_text_box 1s ease;
    animation-delay: .5s;    
}

.person-content div h1:nth-child(1) span {
    animation-delay: .5s;
}
.person-content div h1:nth-child(2) span {
    animation-delay: 1.5s;
}
.person-content div h1:nth-child(3) span {
    animation-delay: 2.5s; 
} 

.person-name {
    margin-top: 11rem;
}

.stacks-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 6rem;
}

.stacks-content h3 {
    color: var(--color-white);
    font-size: 1.15rem;
    margin-left: 20px;
}

.stacks {
    display: flex;
    align-items: center;
    flex-direction: row;    
}

.stacks ul li {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    list-style: none;
    position: relative;
}

.stacks ul li img {
    width: 30px;
    height: auto;
    transition: transform .3s ease;
}

.stacks ul li div img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.stacks ul li div:hover::after {
    content: attr(data);
    position: absolute;
    top: 50px;
    left: 10px;
    width: 20px;
    height: 20px;
    color: var(--color-white);
}

.person-background {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/fundo.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.person-background::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 7;
    background: linear-gradient(270deg, transparent 40%, var(--color-black));
    height: 100%;
    width: 100%;
    z-index: -1;
}

.primary-button{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid var(--color-blue);
    padding: 1.3rem 4rem;
    background-color: #000;
    background-image: url(img/background-valorant.png);
    background-size: 230%;
    background-position: 250%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    z-index: 1;
}

.primary-button:hover{
    border: 1px solid var(--color-pink);
    color: white;
    background-position: 50%;
}

.primary-button:before{
    content: "";
    position: absolute;
    background-color: var(--color-blue);
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before{
    background-color: var(--color-pink);
}

.primary-button:after{
    content: "";
    position: absolute;
    background-color: var(--color-blue);
    width: 0.4rem;
    height: 0.4rem;
    bottom: -1px;
    right: -1px;
}

.button-borders-exp{
    display: none;
}

.button-borders{
    position: relative;
    width: fit-content;
    height: fit-content;
}

.button-borders:before{
    content: "";
    position: absolute;
    width: calc(100% + 1rem);
    height: 50%;
    left: -0.5rem;
    top: -0.5rem;
    border: 1px solid var(--color-blue);
    border-bottom: 0px;
    opacity: 0.3;
}

.button-borders:after{
    content: "";
    position: absolute;
    width: calc(100% + 1rem);
    height: 50%;
    left: -0.5rem;
    bottom: -0.5rem;
    border: 1px solid var(--color-blue);
    border-top: 0px;
    opacity: 0.3;
    z-index: 0;
}

#experience{
    height: 100vh;
    width: 100%;
}

#experience h1{
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.background-experience{
    width: 100%;
    height: 100%;
}

.background-experience::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 170%;
    width: 100%;
    z-index: -1;
}

.timeline{
    width: 100%;
    height: 60%;
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    animation-delay: 6s;
}

.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    color: var(--color-white);
    animation: movedown 1s linear forwards;
    opacity: 0;
}

.container a{
    color: inherit;
    text-decoration: none;
}

.container:nth-child(1){
    animation-delay: 5s;
}

.container:nth-child(2){
    animation-delay: 7s;
}

.container:nth-child(3){
    animation-delay: 8s;
}

.container:nth-child(4){
    animation-delay: 9s;
}

.container:nth-child(5){
    animation-delay: 10s;
}

.text-box{
    padding: 20px 30px;
    background: var(--color-blue);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.container img {
    position: absolute;
    width: 40px;
    right: -20px;
    top: 32px;
    z-index: 10;
}
 
.right-container img{
    left: -20px;
}

#aboutme{
    
    display: flex;
    color: var(--color-white );
    flex-direction: column;
}

#aboutme .title h1{
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 20px;
}

#aboutme h2{
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

#aboutme .texto{
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutme .texto p{
    font-size: 20px;
    padding: 10px 50px 10px 5%;
    line-height: 1.7;
    text-align: justify;
    width: 60%;
}

#aboutme h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 10px;
}

#experiencia{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white );
    flex-direction: column;
}

main.cards{
    display: flex;
    flex-direction: row;
    padding: 32px;
}

#experiencia .title h1{
    font-size: 30px;
}

#contato .title h1{
    margin-top: 100px;
    font-size: 30px;
}

#contato h2{
    margin-bottom: 100px;
}

#skills .title h1{
    font-size: 30px;
}

main.cards h2{
    margin-top: 5px;
    padding: 5px;
}

main.cards span{
    font-size: 12px;
}

main.cards section.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #191919;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    width: 300px;
    height: 400px;
    margin-left: 32px;
    justify-content: center;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon{
    width: 64px;
    height: 64px;
}

main.cards section.card img{
    width: 100%;
}

main.cards section.card.developer{
    box-shadow: 20px 20px 50px -30px var(--color-blue);
}

main.cards section.card.telephone{
    box-shadow: 20px 20px 50px -30px var(--color-blue);
}

main.cards section.card.analysis{
    box-shadow: 20px 20px 50px -30px var(--color-blue);
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 115%;
    background: var(--color-pink);
    top: 0;
    left: 50%;
    margin: -3px;
    z-index: -1;
    opacity: 0;
    animation: moveline 6s linear forwards;
    animation-delay: 5s;
}

.text-box h2{
    font-weight: 600;
}

.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--color-blue);
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--color-blue);
    left: -14px;
}

.wrapper-profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    margin: 20px 15px;
    background: radial-gradient(rgba(0,0,0,0.15) 60%, transparent 0),
    radial-gradient(#000 68%, transparent 0),
    linear-gradient(to top right, #993399 0%, #6495ED 100%);
    border-radius: 100%;
}

.profile-photo {
    width: 300px;
    border-radius: 50%;
}

.links a img{
    width: 30px;
    height: 30px;
    margin: 5px;
    filter: brightness(.8);
}

.links a img:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: transform .3s ease;
    filter: brightness(1);
}

/* INICIO TIMELINE CURRICULO */
#timelines .title h1{
    font-size: 30px;
}

.timeline-wrapper {
    position: relative;
    max-width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    transition: .3s ease;
}

.timelines {
    position: absolute;
    height: .12rem;
    padding: 0 4rem;
    background-color: #D12F7A;
    list-style-type: none;

    --scale: 1;
    display: flex;
}

.timelines li {
    position: relative;
    width: 20rem;
    font-size: 11px;
}

.timelines li::before,
.timelines li::after,
.timelines li .title,
.data {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    transition: .5s ease;
    color: #fff;
}

.timelines li::before{
    content: "";
    top: 1rem;
    display: inline-block;
    width: 0.12rem;
    height: 1rem;
    background-color: #888;
}

.timelines li:nth-child(even)::before{
    top: -1rem;
}

.timelines li:hover::before{
    background-color: var(--primary-color);
}

.timelines li::after{
    content: attr(data-date);
    top: -3.4rem;
}

.timelines li:nth-child(odd)::after{
    top: 3.4rem;
}

.timelines li:hover::after,
.timelines li .title{
    color: var(--primary-color);
}

.timelines li .title{
    top: 2.4rem;

    font: 600  1.1rem, 'Poppins', sans-serif;
    white-space: pre;

    opacity: 0;
}

.timelines li:nth-child(odd) >.title{
    top: -2.4rem;
}

.timelines li:hover .title{
    opacity: 1;
}

.data {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #888;
    border-radius: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.timelines li:hover .data{
    background-color: var(--primary-color);
    --scale: 1.2;
    cursor: pointer;
    z-index: 200;
}

.data.show {
    width: 22rem;
    height: 22rem;
    border-radius: 1rem;
    padding: 1rem;
    background-image: linear-gradient(45deg, var(--primary-color), magenta);
    box-shadow: 0 .1rem .4rem #0004;
}

.data h3 {
    text-transform: capitalize;
}

.data p {
    background-color: #fff3;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 0.7rem;
}

.data.show p {
    margin-left: 0;
}

.data .close {
    align-self: flex-start;
    background-color: #00a1ff;
    padding: .5rem .8rem;
    border-radius: 2rem;
    font-size: 1rem;
}
/* FIM TIMELINE CURRICULO */

#footer {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background: #191919;
}

.container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
    position: absolute;
}

#contato{
   color: var(--color-white);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#contato .stacks {
    display: flex;
    justify-content: center;
}

@keyframes written_text {
    100% {
        color:  var(--color-white);
    }
}

@keyframes written_text_name {
    100% {
        color:  var(--color-blue);
    }
}

@keyframes written_text_box {
    50% {
        width: 100%;
        left: 0;
    }

    100%{
        width: 0;
        left: 100%;
    } 
}

@keyframes moveline {
    0% {
        height: 0;
        opacity: 100%;
    }
    100% {
        height: 100;
        opacity: 100%;
    }
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1020px){

    /* GERAL */

    #contato .container-button{
        display: inline;
    }

    #person{
        flex-direction: column;
    }

    .stacks-content {
        margin-top: 2rem;
        padding: 20px 4%;
        padding-left: 15px;
    }

    .person-background {
        margin-top: 1rem;
        background-image: none;
        background-color: none;
        flex-direction: column-reverse;
    }

    .container-button{
        padding: 40px 4%;
    }

    #aboutme{
        padding-top: 250px;
        display: flex;
        color: var(--color-white );
        flex-direction: column;
    }
    
    #aboutme .title h1{
        margin-top: 100px;
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    #aboutme h2{
        display: flex;
        font-size: 15px;
        justify-content: center;
        align-items: center;
    }
    
    #aboutme .texto{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #aboutme .texto p{
        font-size: 15px;
        padding: 40px 4%;
        line-height: 2;
        text-align: justify;
        width: 85%;
    }
    
    #aboutme h3{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        margin-top: 10px;
    }

    #experiencia{
        margin-top: 50rem;
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
    }

    .cards{
        margin-top: 5rem;
    }

    main.cards{
        flex-direction: column;
        align-items: center;
    }

    #card-dev{
        margin-left: 30px;
    }

    #card-dev, #card-tel{
        margin-bottom: 10rem;
        flex-direction: column;
        align-items: center;
    }
    .timeline{
        width: 100%; 
        height: 100%;
        position: relative;
        max-width: 1200px;
        margin: 100px auto;
        justify-content: center;
        align-items: center;
        animation-delay: 6s;
        animation-delay: 5s;
    }

    .timeline h2{
        font-size: 12px;
    }

    .timeline p{
        display: none;
    }

    .timeline small{
        display: none;
    }

    .timeline br{
        display: none;
    }

    .timeline::after{
        content: '';
        position: absolute;
        width: 6px;
        height: 100%;
        background: var(--color-pink);
        top: 0;
        left: 50%;
        margin: -3px;
        z-index: -1;
        opacity: 0;
        animation: moveline 5s linear forwards;
        animation-delay: 5s;
    }

    body{
        flex-direction: column;
    }
    
    
    /* CABEÇALHO */
    .navbar{
        display: none;
    }

    .person-name {
        margin-top: 10rem;
    }

    .person-background::after{
        display: none;
    }

    #skills{
        margin-top: 50rem;
        
    }

    .person-content div h1{
        padding: 0px, 4px;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .text-box{
        padding: 30px 35px;
        background: var(--color-blue);
        position: relative;
        border-radius: 6px;
        font-size: 35px;
        text-align: left;
    }

    .text-box h2{
        padding-right: 50%;
        font-size: 10px;
    }

    /* CABEÇALHO - ESTILO MENU MOBILE */
    .container-button-exp{
        align-items: center;
    }

    .button-borders-exp{
        display: block;
        width: fit-content;
        height: fit-content;
        align-items: center;
    }

    .button-borders-exp a{
        display: block;
        width: fit-content;
        height: fit-content;
        align-items: center;
    }
    
    .button-borders-exp:before{
        content: "";
        position: absolute;
        width: calc(100% + 1rem);
        height: 50%;
        left: -0.5rem;
        top: -0.5rem;
        border: 1px solid var(--color-blue);
        border-bottom: 0px;
        opacity: 0.3;
    }
    
    .button-borders-exp:after{
        content: "";
        position: absolute;
        width: calc(100% + 1rem);
        height: 50%;
        left: -0.5rem;
        bottom: -0.5rem;
        border: 1px solid var(--color-blue);
        border-top: 0px;
        opacity: 0.3;
        z-index: 0;
    }

}