:root{
    --primary-color: #8A2BE2;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hints {
    text-align: center;
    padding: 1.4rem 0;
    background-color: whitesmoke;
}

mark {
    padding: .2rem .7rem;
    border-radius: .4rem;
    background-color: gold;
}

.timeline-wrapper {
    position: relative;
    max-width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    transition: .3s ease;
}

.timelines {
    position: absolute;
    height: .12rem;
    padding: 0 4rem;
    background-color: #D12F7A;
    list-style-type: none;

    --scale: 1;
    display: flex;
}

.timelines li {
    position: relative;
    width: 20rem;
}

.timelines li::before,
.timelines li::after,
.timelines li .title,
.data {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    transition: .5s ease;
}

.timelines li::before{
    content: "";
    top: 1rem;
    display: inline-block;
    width: 0.12rem;
    height: 1rem;
    background-color: #888;
}

.timelines li:nth-child(even)::before{
    top: -1rem;
}

.timelines li:hover::before{
    background-color: var(--primary-color);
}

.timelines li::after{
    content: attr(data-date);
    top: -3.4rem;
}

.timelines li:nth-child(odd)::after{
    top: 3.4rem;
}

.timelines li:hover::after,
.timelines li .title{
    color: var(--primary-color);
}

.timelines li .title{
    top: 2.4rem;

    font: 600  1.1rem, 'Poppins', sans-serif;
    white-space: pre;

    opacity: 0;
}

.timelines li:nth-child(odd) >.title{
    top: -2.4rem;
}

.timelines li:hover .title{
    opacity: 1;
}

.data {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #888;
    border-radius: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.timelines li:hover .data{
    background-color: var(--primary-color);
    --scale: 1.2;
    cursor: pointer;
    z-index: 200;
}

.data.show {
    width: 22rem;
    height: 22rem;
    border-radius: 1rem;
    padding: 1rem;
    background-image: linear-gradient(45deg, var(--primary-color), magenta);
    box-shadow: 0 .1rem .4rem #0004;
}

.data h3 {
    text-transform: capitalize;
}

.data p {
    background-color: #fff3;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 0.7rem;
}

.data.show p {
    margin-left: 0;
}

.data .close {
    align-self: flex-start;
    background-color: #00a1ff;
    padding: .5rem .8rem;
    border-radius: 2rem;
    font-size: 1rem;
}